header {
  display: flex;
  width: 100%;
  background-color: #002ef5;
  img {
    display: flex;
    align-self: center;
    width: 58%;
    height: 70%;
  }
  nav {
    display: flex;
    width: 42%;
    ul {
      display: flex;
      width: 100%;
      align-self: center;
      li {
        list-style: none;
        width: 100%;
        justify-content: center;
        display: flex;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.confirm {
  display: flex;
  flex-direction: column;
  min-height: 40em;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: #002ef5;
  color: white;
  display: flex;
  justify-content: center;
}
