header {
  display: flex;
  width: 100%;
  background-color: #002ef5;
  img {
    display: flex;
    align-self: center;
    width: 58%;
    height: 70%;
  }
  nav {
    display: flex;
    width: 42%;
    ul {
      display: flex;
      width: 100%;
      align-self: center;
      li {
        list-style: none;
        width: 100%;
        justify-content: center;
        display: flex;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin: 1em;
    border-radius: 10px;
    padding: 0.7em;
    img {
      width: 100%;
      max-width: 350px;
      border-radius: 37px;
    }
    p {
      display: flex;
      text-align: center;
    }
  }
  div#colorList {
    display: flex;
    justify-content: center;
    select {
      font-size: 1.3em;
    }
  }
  button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    align-self: center;
    margin: 2em;
    border-radius: 5px;
    &:hover {
      transform: scale(1.1);
      font-weight: bold;
    }
  }
}

footer {
  width: 100%;
  background-color: #002ef5;
  color: white;
  display: flex;
  justify-content: center;
}
